body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:150px;
  width:200px;
  height:490px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:490px;
}
#u1 {
  position:absolute;
  left:2px;
  top:237px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:660px;
  width:790px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:30px;
  width:200px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:260px;
  top:150px;
  width:550px;
  height:490px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:490px;
}
#u7 {
  position:absolute;
  left:2px;
  top:237px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:260px;
  top:71px;
  width:550px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:260px;
  top:30px;
  width:430px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:710px;
  top:30px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:294px;
  top:92px;
  width:66px;
  height:18px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:514px;
  top:92px;
  width:41px;
  height:18px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:726px;
  top:92px;
  width:44px;
  height:18px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:272px;
  top:200px;
  width:88px;
  height:37px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:270px;
  top:512px;
  width:241px;
  height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:375px;
  top:570px;
  width:320px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:368px;
  top:270px;
  width:395px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:308px;
  top:272px;
  width:50px;
  height:20px;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:368px;
  top:332px;
  width:395px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:308px;
  top:332px;
  width:50px;
  height:20px;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:480px;
  top:395px;
  width:100px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:637px;
  top:367px;
  width:126px;
  height:15px;
  text-decoration:underline;
  color:#0033FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
